NEXT_PUBLIC_SUPABASE_URL=https://zzmvoovwqyuoykprzswt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp6bXZvb3Z3cXl1b3lrcHJ6c3d0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU1MjIwNDcsImV4cCI6MjA3MTA5ODA0N30.snNIkxuqUA9-lNI0FF4_lc5dA_eOxT6gFp7oPN1d0hs
// You would need to setup google auth with supabase and then add fallback url  here?
NEXT_PUBLIC_AUTH_REDIRECT_URL=http://localhost:3000/auth/callback
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_REDIRECT_URL=http://localhost:3000/auth/callback

